.app-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9a6bd3;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  z-index: 1;
  box-shadow: 0 0 8px black;
}

.app-header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-header > svg {
  position: absolute;
}

.app-header svg {
  fill: white;
}
.app-header svg:not(:last-child) {
  margin-right: 12px;
}

div.providers {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  margin-top: calc(64px + 16px);
}



/* default styles */
p {
  margin: 0;
}

* { box-sizing: border-box; }
